<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adobe.marketing.mobile.placesmonitor" >
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application>
        <receiver android:name="com.adobe.marketing.mobile.PlacesLocationBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.adobe.marketing.mobile.PlacesLocationBroadcastReceiver.locationUpdates" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.adobe.marketing.mobile.PlacesGeofenceBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.adobe.marketing.mobile.PlacesGeofenceBroadcastReceiver.geofenceUpdates" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.adobe.marketing.mobile.PlacesMonitorOnBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.adobe.marketing.mobile.PlacesActivity"
            android:theme="@style/Theme.Transparent"/>
    </application>
</manifest>
